workflows/api/weather_notification.json
{
  "name": "Weather Alert System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "options": {}
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "options": {
          "qs": {
            "q": "New York",
            "appid": "YOUR_API_KEY",
            "units": "metric"
          }
        }
      },
      "id": "weather-api",
      "name": "Get Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "temperature-above-30",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "high-temp-filter",
      "name": "High Temperature Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "temperature-below-0",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "low-temp-filter",
      "name": "Low Temperature Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "toEmail": "alerts@company.com",
        "subject": "High Temperature Alert",
        "text": "High temperature alert!\n\nLocation: {{ $json.name }}\nTemperature: {{ $json.main.temp }}°C\nFeels like: {{ $json.main.feels_like }}°C\nHumidity: {{ $json.main.humidity }}%\n\nPlease take necessary precautions.",
        "options": {}
      },
      "id": "send-high-temp-alert",
      "name": "Send High Temp Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "toEmail": "alerts@company.com",
        "subject": "Low Temperature Alert",
        "text": "Low temperature alert!\n\nLocation: {{ $json.name }}\nTemperature: {{ $json.main.temp }}°C\nFeels like: {{ $json.main.feels_like }}°C\nHumidity: {{ $json.main.humidity }}%\n\nPlease take necessary precautions.",
        "options": {}
      },
      "id": "send-low-temp-alert",
      "name": "Send Low Temp Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "toEmail": "weather@company.com",
        "subject": "Daily Weather Report",
        "text": "Daily weather report:\n\nLocation: {{ $json.name }}\nTemperature: {{ $json.main.temp }}°C\nFeels like: {{ $json.main.feels_like }}°C\nHumidity: {{ $json.main.humidity }}%\nWeather: {{ $json.weather[0].description }}\n\nHave a great day!",
        "options": {}
      },
      "id": "send-daily-report",
      "name": "Send Daily Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 600]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Data": {
      "main": [
        [
          {
            "node": "High Temperature Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Temperature Filter": {
      "main": [
        [
          {
            "node": "Send High Temp Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Temperature Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Temperature Filter": {
      "main": [
        [
          {
            "node": "Send Low Temp Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
} 